body {
  font-family: "Roboto", "Raleway" sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.mail {
  position: absolute;
  width: 151px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
.mail:hover,
.mail:focus {
  position: absolute;
  width: 153px;
  height: 24px;

  color: #404bbf;
}
.tell {
  position: absolute;
  width: 151px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}
.tell:hover,
.tell:focus {
  position: absolute;
  width: 153px;
  height: 24px;

  color: #404bbf;
}
